/* font add */
body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
/* header section title */

.header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 120px;
    margin-top: 87px;
}
.header-menu ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 34px;
    margin-right: 120px;
    margin-top: 95px;
}
/* second header style */
.second-header{
    margin-top: 145px;
    display: flex;
}
.second-header-information{
    margin-left: 120px;
}
.second-header-title{
    font-size: 52px;
    color: #3A3A3A;
}
.second-header-description{
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
    margin-bottom: 16px;
}
.second-header-button{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    color: white;
    border: none;
}
.second-header-img img{
    width: 500px;
    height: 414px;
    position: relative;
    left: 450px;
    top: -100px;
    
}
hr{
    color: rgb(17, 16, 16);
}
/* logos section */
.logos img{
    position: relative;
   left: 250px;
   padding: 30px;
}
/* popular collection style */
.popular-collection-title{
    font-size: 28px;
    color: #3A3A3A;
    margin-left: 740px;
    margin-bottom: 50px;
    margin-top: 160px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-left: 196px;
    
}
.collection-details{
    width: 329px;
    height: 476px;
    padding: 17px 15px 203px 14px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
   
}
.collection-details h2{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}
.collection-details h4{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 6px;
}
.collection-details img{
    border-radius: 5px;
    
}
.rating{
    display: flex;
    gap: 10px;
    margin-top: 8px;
    
}
.rating i{
    color: #FB8200;
}
.rating-details{
    font-size: 14px;
    color: #5E6366;
}
.collection-details-description{
    font-size: 14px;
    color: #787885;
    margin-top: 5px;
}
/* feature section */
.feature{
    display: flex;
    gap: 96px;
    margin-top: 100px;
}
.feature-img img{
    margin-left: 165px;
}
.feature-title{
    margin-top: 40px;
    font-size: 38px;
    color: #0A0826;
}
.feature-description{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 16px;
    margin-bottom: 16px;
}
/* footer style */
.footer{
    background-color: black;
    margin-top: 150px;
}
.footer-details h2 {
    font-size: 24px;
    color: white;
    margin-left: 660px;
    padding-top: 50px;
}

.footer-details p{
    font-size: 14px;
    color: #D9DBE1;
    margin-left: 660px;
}
.footer-icons i{
    color: #FFFFFF;
    
}
#insta{
    margin-left: 660px;
}
#fb, #twit, #yt{
    margin-left: 20px;
}

/* Responsive for mobile device */
@media screen and (max-width: 576px) {
    .header-menu ul{
        display: flex;
        flex-direction: column;
    }
    .second-header{
        display: flex;
        flex-direction: column-reverse;
    }
    .second-header-img img{
        width: 70%;
        height: 70%;
        left: 90px;

    }
    .logos img{
        position: relative;
        left: 50px;
    }
    hr{
        margin-top: 30px;
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50px;
    }
    .popular-collection-title{
        margin-left: 50px;
    }
    .feature{
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-details{
        margin: 60px 75px;
    }
    .feature-img img{
        margin-top: -80px;
        margin-left: 75px;
        width: 75%;
    }
    .footer{
        width: 100%;
    }

}
